.custom-card {
  transition: 300ms ease-in;
  border-radius: 10px;
}
.custom-card-content{
  transition: 300ms ease-in;
  margin-top: 50%;


}
.custom-card:hover .custom-card-content{
  height: 100px;
}

.custom-card-header{
  top:-40px;
  bottom:50px;
  left:12.5%;
  position: absolute;
  border-radius: 10px
}
.custom-card:hover .custom-card-header{
  bottom: 118px;
}
