<p>Login</p>
<!--<div class="d-lg-flex half h-100 justify-content-center ">-->
<!--  <div class="contents order-2  justify-content-center order-md-1">-->

<!--    <div class="h-100 w-100   ">-->
<!--      <div class="row  d-flex flex-column h-100 w-100 align-items-center justify-content-center">-->
<!--        <div class="col-md-7  p-4" style="border-radius: 1rem;  box-shadow: 0 5px 3px 0 rgba(0,0,0,.1), 0 3px 4px 0 rgba(0,0,0,.06);">-->
<!--          <div class="mb-4">-->
<!--            <h3 class="header-login">Sign In</h3>-->
<!--            <app-error-baner [show]="showErrorMessage" [text]="errorMessage"></app-error-baner>-->

<!--          </div>-->
<!--          <form (ngSubmit)="login(form)"  #form="ngForm" ngForm action="#" method="post">-->
<!--            <div class="form-group first" [ngClass]="{'invalid-input': showErrorMessage}">-->
<!--              <input ngModel required   type="text" name="username"  placeholder="Username" class="form-control" id="username">-->

<!--            </div>-->
<!--            <div class="form-group last mb-3" [ngClass]="{'invalid-input': showErrorMessage}">-->
<!--              <input ngModel required   name="password"  type="password" placeholder="Password" class="form-control" id="password">-->

<!--            </div>-->

<!--            <div class="d-flex mb-5 align-items-center justify-content-between">-->
<!--              <label class="control control&#45;&#45;checkbox mb-0"><span class="caption">Remember me</span>-->
<!--                <input type="checkbox" checked="checked"/>-->
<!--                <div class="control__indicator"></div>-->
<!--              </label>-->
<!--              <span class="ml-auto"><a routerLink="/reset-password" href="#" class="forgot-pass">Forgot Password</a></span>-->
<!--            </div>-->

<!--            <button [ngClass]="{'disabled': form.invalid && showErrorMessage}"  type="submit" value="Sign Up" class="btn  w-100 btn-block login-btn" >-->

<!--              <ng-container *ngIf="(appState.dataState === DataState.LOADING) ;else textContainerBtn">-->
<!--                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
<!--                Loading...-->
<!--              </ng-container>-->
<!--              <ng-template #textContainerBtn>-->
<!--                Log In-->
<!--              </ng-template>-->


<!--            </button>            <div class="d-flex justify-content-center mt-3">-->
<!--              <p style="font-size: 16px">Dont have an account? <a> <span class="register-text" routerLink="/register" style="cursor:pointer;"> Register now!</span></a></p>-->
<!--            </div>-->

<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--</div>-->
