
<div class="  content ">

  <div class="d-flex align-items-center">
    <app-filter-games (filterRequestEmmiter)="filterSubmit($event)"></app-filter-games>



    <div class="dropdown d-flex justify-content-center align-items-center" >
      <button class="btn btn-secondary dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{sortField? (sortField | capitalizeFirstLetter) +" "+ (sortDirection.toString() | uppercase) : "Sort"}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"(click)="setSort('date',SortDirection.asc)">Date asc</a>
        <a class="dropdown-item"(click)="setSort('date',SortDirection.desc)">Date desc</a>
      </div>
    </div>
  </div>




          <app-game-list  class="w-50" #gameList>
          </app-game-list>
          <app-game-list-pagination [totalPages]="totalPages" [itemsPerPage]="itemsPerPage"  ></app-game-list-pagination>










</div>
