<div class="w-100">

<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th class="text-center" scope="col">Name</th>-->

<!--      <th class="text-center" scope="col">Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <div *ngIf="friends.dataState==DataState.LOADING">-->
<!--      <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 30px;height: 30px"></span>-->

<!--    </div>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let friend of friends?.appData | slice:0:getMaxFriends()">-->
<!--      <td class="text-center">{{friend.firstname+' ' +friend.lastname}}</td>-->
<!--      <td class="text-center" style="color:var(&#45;&#45;red-color);cursor: pointer" (click)="unfriend(friend.username)">Unfriend</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

</div>
