<div class="content d-flex flex-column">
  <div>
    <p style="font-size: xx-large">Add Co-Op Player</p>
    <p style="opacity: 50%" class="text-white">Add friend to play together as a team</p>
  </div>
  <div class="d-flex justify-content-end p-4">

      <div class="d-flex ">
        <div class="form-group mx-2  h-100 d-flex align-items-center">
          <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Search...">
        </div>
        <button class="btn btn-secondary">
          <i class="tim-icons icon-zoom-split"></i>
        </button>
      </div>
    </div>
  <div class="p-4 " style="flex: 1 ">

    <p>Selected 0/1</p>
    <app-friend-add-card></app-friend-add-card>
  </div>

  <div class="d-flex justify-content-between">
    <button class="btn" >Back</button>
    <div class="d-flex align-items-center">
      <p class="mx-4 px-4"  style="cursor:pointer;">Skip</p>
      <button class="btn btn-primary" >Next</button>
    </div>
  </div>
</div>
