.form-control:focus{
  border-color: #ced4da; /* Change the border color to the default */
  box-shadow: none; /* Remove the box shadow */
}

.chip-holder{
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 0;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.form-control:focus {
  border-color: #ced4da; /* Change the border color to the default */
  box-shadow: none; /* Remove the box shadow */
}
