
<div class="d-flex align-items-center my-2  " >
  <div class="col-1 justify-content-center align-items-center">
    <img src="favicon.ico">

  </div>
  <div class="d-flex align-items-center w-100 " style="border: solid 1px white;border-radius: 40px">
    <div class="col-10 d-flex align-items-center">
      <div  class="image-container  " >
        <div class="w-100 h-100 d-flex justify-content-center align-items-center" [style.background-color]="randomColor">
          <p class="text-image">{{player.username.charAt(0).toUpperCase()}}</p>
        </div>

      </div>
      <p class="mx-3">{{player.username}}</p>
    </div>

    <div class="col-2 justify-content-start d-flex justify-content-center px-2 mx-2">
      <div>
        <p >View Sheet</p>
      </div>
      <p class="">{{player.score}}</p>
    </div>


  </div>
</div>
