<app-modal [modalid]="filterModelId" [title]="filterModalTitle">

  <form #form="ngForm" (ngSubmit)="filterHistory(form)">
    <div class="d-flex justify-content-around">
      <div class="d-flex justify-content-center flex-column">
        <label class="w-100 text-center" for="date_from">Date From</label>
        <input [(ngModel)]="filterRequest.date_from"  type="date" class="form-control" id="date_from" name="date_from" >
      </div>
      <div class="d-flex justify-content-center flex-column">
        <label class="w-100 text-center" for="date_from">Date To</label>
        <input value="{{filterRequest.date_to}}" [(ngModel)]="filterRequest.date_to" type="date" class="form-control" id="date_to" name="date_to">
      </div>

    </div>
    <div class="w-100 d-flex mt-4 justify-content-start">
      <p>Game Status</p>
    </div>
    <div class=" input-group">
        <select [(ngModel)]="filterRequest.game_status" name="game_status" class="form-select form-select " aria-label=".form-select-lg example">
          <option value="{{GameStatus.in_progress.toString() }}">{{GameStatus.in_progress.toString()}}</option>
          <option value="{{GameStatus.completed.toString() }}">{{GameStatus.completed.toString()}}</option>
        </select>
    </div>
    <div class="d-flex mt-3 flex-column justify-content-start align-items-center w-100">

      <div class="w-100 d-flex justify-content-start">
        <p>Fiends Name</p>
      </div>
      <div
           class="row justify-content-center
             w-100">

        <div class="w-100 h-100  align-items-center d-flex chip-holder ">
          <input #playerNameInput type="text" class="form-control w-100" name="player_name_input" id="player_name_input">
          <div (click)="addFilterFriends(playerNameInput)" class="col-1 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus" style="color: var(--primary-color);font-size:40px"></i>
          </div>

        </div>
        <div class=" h-100 align-items-center d-flex chip-holder ">

          <div *ngFor="let chip of filterFriends" class="col mx-2 my-2 d-flex justify-content-start align-content-center ">
            <app-chip chipName="{{chip}}" (removeChipEmmiter)="removeFilterFriends($event)"  ></app-chip>
          </div>
        </div>


      </div>
    </div>

    <div class="d-flex mt-3 flex-column justify-content-start align-items-center w-100">

      <div class="w-100 d-flex justify-content-start">
        <p>Winner Name</p>
      </div>
      <div
        class="row justify-content-center
             w-100">

        <div class="w-100 h-100  align-items-center d-flex chip-holder ">
          <input #winnerNameInput type="text" class="form-control w-100" name="player_name_input" id="winner_name_input">
          <div (click)="addFilterWiners(winnerNameInput)" class="col-1 d-flex justify-content-center align-items-center">
            <i class="bi   bi-plus " style="color: var(--primary-color);font-size:40px"></i>
          </div>

        </div>
        <div class=" h-100  align-items-center d-flex chip-holder ">

          <div *ngFor="let chip of filterWiners" class="col mx-2 my-2 d-flex justify-content-start align-content-center ">
            <app-chip chipName="{{chip}}" (removeChipEmmiter)="removeFilterWinners($event)"  ></app-chip>
          </div>
        </div>


      </div>
    </div>
    <div class=" mt-5 d-flex justify-content-end">
      <button type="button"  (click)="closeModal()" class="btn btn-link text-decoration-none text-dark mx-2">Cancel</button>
      <button  type="submit" class="btn text-white px-4 " style="background: var(--primary-color)">Apply</button>
    </div>

  </form>


</app-modal>
