<div class="p-4 " style="flex: 1 ">
  <div class ="d-flex  justify-content-between align-items-center">
    <p>Selected {{selectedNumber}}/1</p>
    <app-co-friends-pagination #coPlayers [itemsPerPageInput]="friendsService.maxFriends"></app-co-friends-pagination>
  </div>
  <div class="d-flex " style="gap:20px;flex-wrap: wrap" *ngIf="$friends | async as friends">
    <app-friend-add-card-unselect [isSelected]="selectedNumber==0" (selectedCop)="noneSelected()"></app-friend-add-card-unselect>
    <app-friend-add-card [isSelected]="friend.username===selected" (selectedCop)="handleSelectedCop($event)" *ngFor="let friend of friends?.appData" [friend]="friend" ></app-friend-add-card>
  </div>
</div>
