<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card p-4">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="saveProfileChanges()">
            <div class="row">
              <div class="col-md-3 px-md-1">
                <div class="form-group">
                  <label> Joined</label>
                  <input type="text" disabled class="form-control" placeholder="Joined" value="{{profile.joined |date}}">
                </div>
              </div>
              <div class="col-md-3 px-md-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" disabled class="form-control" placeholder="Username" value="{{profile.username}}">
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" disabled class="form-control" name="email" id="email" placeholder="{{profile.email}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" [(ngModel)]="firstName" name="firstName" id="firstName" class="form-control" placeholder="Company" value="Mike">
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" [(ngModel)]="lastName" class="form-control" name="lastName" id="lastName" placeholder="Last Name" value="Andrew">
                </div>
              </div>
            </div>
            <!--            <div class="row">-->
            <!--              <div class="col-md-12">-->
            <!--                <div class="form-group">-->
            <!--                  <label>Address</label>-->
            <!--                  <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="row">-->
            <!--              <div class="col-md-4 pr-md-1">-->
            <!--                <div class="form-group">-->
            <!--                  <label>City</label>-->
            <!--                  <input type="text" class="form-control" placeholder="City" value="Mike">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div class="col-md-4 px-md-1">-->
            <!--                <div class="form-group">-->
            <!--                  <label>Country</label>-->
            <!--                  <input type="text" class="form-control" placeholder="Country" value="Andrew">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div class="col-md-4 pl-md-1">-->
            <!--                <div class="form-group">-->
            <!--                  <label>Postal Code</label>-->
            <!--                  <input type="number" class="form-control" placeholder="ZIP Code">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="row">-->
            <!--              <div class="col-md-8">-->
            <!--                <div class="form-group">-->
            <!--                  <label>About Me</label>-->
            <!--                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-primary">Save</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)" class="bg-info">
              <div class="w-100 d-flex justify-content-center p-2">
                <div class="image-container ">
                  <div class="w-100 h-100 d-flex  justify-content-center align-items-center" [style.background-color]="randomColor">
                    <p class="text-image" >{{profile.username.charAt(0)}}</p>
                  </div>
                </div>
              </div>


              <h5 class="title">{{profile.username}}</h5>
              <p class="description">
                {{profile.email}}
              </p>

            </a>

          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card p-4 ">
    <div class="card-header">
      <h5 class="title">Security Settings</h5>
    </div>

    <div class="card-body w-25 ">
      <div class="row d-flex flex-column">
        <app-error-baner [show]="showErrorPasswordChange" [text]="errorMessage"></app-error-baner>
        <form class="mt-4 " #form="ngForm" (ngSubmit)="changePassword(form)" method="post">
          <div class="form-group first">
            <input [ngClass]="{'invalid-input':this.showErrorPasswordChange}" ngModel type="password" name="oldPassword"
                   placeholder="Old Password" class="form-control py-2" id="password">
          </div>
          <div class="form-group first mt-3">
            <input [ngClass]="{'invalid-input':this.showErrorPasswordChange}" ngModel type="password" name="newPassword"
                   placeholder="New Password" class="form-control py-2" id="password-confirm">
          </div>

          <div class="d-flex mt-3 justify-content-center flex-column">
            <button  type="submit" class="btn  text-white">Save</button>
          </div>
        </form>
      </div>
      <hr>
      <div class="row w-100  ">
        <div class=" w-100 ">
          <h6 class="w-100 " style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#confirmationModal">Deactivate Account</h6>
        </div>
      </div>
      <hr>
      <div class="row ">
        <div class="w-auto">
          <h6 style="cursor:pointer;" (click)="logout()" >Logout</h6>
        </div>
      </div>
    </div>
  </div>
  <app-confirmation-modal></app-confirmation-modal>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
  </div>
</div>




