
<div class="content mt-5">

  <div class="mt-4">
    <h4>Pending Requests</h4>
  </div>
  <div class="mt-4" >

      <table class="table table-striped ">
        <thead class="">
        <tr>
          <th class="text-center  col-4"  scope="col">From</th>
          <th class="text-center  col-4" scope="col">Date</th>
          <th class="text-center  col-4" scope="col">Action</th>
        </tr>
        </thead>

        <tbody class="w-100 ">
        <ng-container *ngIf="($games | async) as gameRequests" class="w-100 ">
          <div *ngIf="gameRequests.dataState==DataState.LOADING">
            <span class="spinner-border m-2 spinner-border-sm" role="status" aria-hidden="true" style="width: 50px;height: 50px"></span>

          </div>
          <div *ngIf="gameRequests.dataState==DataState.SUCCESS" class="w-100 ">
            <tr *ngFor="let gameRequest of gameRequests?.appData | slice:0:maxGames">
              <td class="text-center">{{gameRequest.username}}</td>
              <td class="text-center">{{gameRequest.gameDate | date}}</td>
              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <button class="btn btn-link" (click)="acceptGame(gameRequest.gameId)" style="color:var(--primary-color)"> Accept</button>
                  <button class="btn btn-link text-dark"  (click)="declineGame(gameRequest.gameId)"> Decline</button>
                </div>
              </td>
              <app-upload-sheet [gameId]="gameRequest.gameId" [joinGame]="true" ></app-upload-sheet>

            </tr>
          </div>

        </ng-container>

        </tbody>

      </table>
      <div class="w-100  d-flex justify-content-end">
        <app-game-list-pagination [totalPages]="this.customRound(this.totalElements/this.maxGames)"></app-game-list-pagination>
      </div>


    <div class="mt-4">
      <h4>Send Requests</h4>
    </div>

    <ng-container *ngIf="($gamesRequestsSend | async) as gameRequestsSend" class="w-100 ">
      <div><button *ngIf="gameRequestsSend.appData?.length>0" class="btn" (click)="deleteAllGameRequestSend()">Delete All</button></div>

      <table class="table table-striped ">
      <thead class="">
      <tr>
        <th class="text-center  col-4" scope="col">To</th>
        <th class="text-center  col-4" scope="col">Date</th>
        <th class="text-center  col-4" scope="col">Action</th>
      </tr>
      </thead>

      <tbody class="w-100 ">

        <div *ngIf="gameRequestsSend.dataState==DataState.LOADING">
          <span class="spinner-border m-2 spinner-border-sm" role="status" aria-hidden="true" style="width: 50px;height: 50px"></span>
        </div>
        <div *ngIf="gameRequestsSend.dataState==DataState.SUCCESS" class="w-100 ">
          <tr *ngFor="let gameRequest of gameRequestsSend?.appData | slice:0:maxGames">
            <td class="text-center">{{gameRequest.username}}</td>
            <td class="text-center">{{gameRequest.gameDate | date}}</td>
            <td class="text-center">
              <div class="d-flex justify-content-center">
                <button class="btn btn-link text-dark"  (click)="removeGameRequest(gameRequest.gameId,gameRequest.username)"> Delete</button>
              </div>
            </td>
            <app-upload-sheet [gameId]="gameRequest.gameId" [joinGame]="true" ></app-upload-sheet>

          </tr>
        </div>



      </tbody>

    </table>
    </ng-container>
    <div class="w-100  d-flex justify-content-end">
      <app-game-list-pagination [totalPages]="this.customRound(this.totalElementsRequestsSend/this.maxGames)"></app-game-list-pagination>
    </div>

  </div>



</div>
