.image-container {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: solid var(--primary-color-darker);
  height: 40px;
  top: 50%; /* Move the image 50% down from the top of the container */
  left: 50%; /* Move the image 50% to the right from the left edge of the container */
  transform: translate(-50%, -50%);
}



