.image-container {
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: solid var(--primary-color-darker);
  height: 60px;
}
.text-image{
  font-size: 30px;
}
