
<div class="container mt-5">
  <div class="w-100 d-flex justify-content-between  mb-3">
    <div class="">
      <button class="btn btn-link text-decoration-none text-primary" (click)="calculateSheet()">Calculate</button>
    </div>
    <div class="d-flex">
      <button class="btn mx-2 border-0" (click)="cancelGameCreation()" [disabled]="isLoading || isCalculating" type="button" >Cancel</button>
      <app-button-icon text="Save" (click)="saveGame()" icon="fa-regular fa-floppy-disk"></app-button-icon>
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center" *ngFor="let i of numberArray"  scope="col">{{i+1}}</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let data of sheetData; let rowIndex = index">
        <td  [ngClass]="{'invalid-cell':!cell.valid}" *ngFor="let cell of data; let columnIndex = index">
          <input #input (focusout)="validateCell(rowIndex,columnIndex,data.length,input.value)"  [ngClass]="{'invalid-cell':!cell.valid}" class="form-control cell-input text-center" [value]="cell.value">
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="w-100 d-flex justify-content-end">
    <label class="fw-bold" *ngIf="currentScore && currentScore.result">{{currentScore.result}}</label>
  </div>
<app-filter-modal></app-filter-modal>

</div>

