::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-dark)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-dark)
}
