  <div style="width: 1000px;border: solid 1px black" class="d-flex my-2 position-relative justify-content-around align-items-center px-4   py-2 rounded-3 border-dark">

    <div class="d-flex col-3 justify-content-start  overflow-visible position-relative ">
      <div class="image-container position-absolute " style="left: 10%">
        <img src="assets/images/404.png" >
      </div>
      <div class="image-container position-absolute " style="left: 20%">
        <img src="assets/images/404.png" >
      </div>
      <div class=" p-0 m-0 text-white d-flex justify-content-center align-items-center  number-container position-absolute " style="left: 30%">
        <p >5+</p>
      </div>
      <div class="image-container">
        <img src="assets/images/avatar.png" >
      </div>
    </div>

  <div class="col-3  d-flex justify-content-center" style="font-size: large">
    <p>20.04.2022</p>

  </div>

    <div class="d-flex  col-3 flex-column justify-content-center align-items-center " >
      <div class="d-flex  justify-content-center  position-relative w-100">
        <div class="image-container">
          <img src="assets/images/avatar.png" >
        </div>
        <div class="position-absolute " style="left: 62%">
          <img src="/assets/images/medal.png" class="w-100">

        </div>
      </div>

      <p>Nova Voasic</p>
    </div>
    <div  class="col-3 justify-content-end  d-flex">
      <p >View</p>
      <div class="custom-status"></div>
    </div>
  </div>
