<div class="w-100">
  <div class="w-100 d-flex p-0  align-items-center " style="overflow: hidden">
    <input (input)="onInputChange()" [(ngModel)]="friendSearchText" class="form-control w-100 " list="datalistOptions" id="playerNameInput" placeholder="Type to search..."
           #playerNameInput
           >
    <div (click)="addFilterFriends(playerNameInput)" class="col-1  d-flex justify-content-center align-items-center">
      <i class="bi bi-plus" style="color: var(--primary-color);font-size:40px"></i>
    </div>
  </div>
  <div *ngIf="isLoadingFriends">
    <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>

  </div>
  <div *ngIf="!isLoadingFriends">
    <div class="top-0 p-0 m-0  " id="datalistOptions">
      <option (click)="chooseFriend(friend)" class="p-0 m-0" *ngFor="let friend of searchedFriends | slice:0:3 " >{{friend}}</option>
    </div>
  </div>
    <div class="w-100 d-flex  position-relative  mt-0 z-1 ">

      <div *ngFor="let chip of filterFriends" class="w-25  mx-2 my-2 d-flex flex-row justify-content-start align-content-center ">
        <app-chip class="w-25" chipName="{{chip}}" (removeChipEmmiter)="removeFilterFriends($event)"></app-chip>
      </div>
    </div>
</div>
