.custom-card {
  transition: 300ms ease-in;
  border-radius: 10px;
  position: relative;
}
.custom-card-content{
  transition: 300ms ease-in;
  margin-top: 50%;


}
/*.custom-card:hover .custom-card-content{*/
/*  height: 100px;*/
/*}*/

.custom-card-header{
  top:-40px;
  left:0;
  right: 0;
  position: absolute;
  margin: auto;
  border-radius: 10px
}

/*.custom-card:hover !**!.custom-card-header{*/
/*  bottom: 118px;*/
/*}*/
