<div class="content mt-5">
  <div>
    <app-button-icon class="" icon="bi bi-search" data-toggle="modal" data-target="#findFriendsModal"
                     text="Find New Friends"></app-button-icon>
  </div>
  <div class="mt-4">
    <h4>My Friends</h4>
  </div>
  <div class="mt-4">
    <ng-container *ngIf="$friends | async as friends">


      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-center" scope="col">Fullname</th>
          <th class="text-center" scope="col">Username</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
        </thead>
        <div *ngIf="friends.dataState==DataState.LOADING">
          <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"
                style="width: 30px;height: 30px"></span>

        </div>
        <tbody>
        <tr *ngFor="let friend of friends?.appData | slice:0:getMaxFriends()">
          <td class="text-center">{{friend.firstname + ' ' + friend.lastname}}</td>
          <td class="text-center">{{friend.username}}</td>
          <td class="text-center" style="color:var(--red-color);cursor: pointer" (click)="unfriend(friend.username)">
            Unfriend
          </td>
        </tr>
        </tbody>
      </table>
      <div class="w-100  d-flex justify-content-end">
        <div class="w-100  d-flex justify-content-end">
          <app-friends-list-pagination #friends
            [itemsPerPageInput]="getMaxFriends()"></app-friends-list-pagination>
        </div>
      </div>

    </ng-container>
  </div>

  <div class="dropdown-divider"></div>
  <div class="mt-5">
    <h4>Friends Request</h4>
  </div>

  <ng-container *ngIf="$friendsRequests | async as friendsRequests">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center" scope="col">Fullname</th>
        <th class="text-center" scope="col">Username</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <div *ngIf="friendsRequests.dataState==DataState.LOADING">
        <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"
              style="width: 30px;height: 30px">
        </span>
      </div>
      <tbody>

      <tr *ngFor="let friendRequest of friendsRequests?.appData | slice:0:getMaxFriends()">
        <td class="text-center">{{friendRequest?.firstname + ' ' + friendRequest?.lastname}}</td>
        <td class="text-center">{{friendRequest?.username}}</td>
        <td class="text-center">
          <div>
            <i (click)="acceptFriendRequest(friendRequest.username)" class="tim-icons icon-check-2 mx-2" style="color:var(--green-color);font-size: large"></i>
            <i (click)="declineFriendRequest(friendRequest.username)" class="tim-icons icon-simple-remove" style="color:var(--red-color);font-size: large"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="w-100  d-flex justify-content-end">
       <app-friends-requests-received-list-pagination  #friendsRequestsReceived [itemsPerPageInput]="getMaxFriends()"></app-friends-requests-received-list-pagination>
    </div>
  </ng-container>


  <div class="dropdown-divider"></div>
  <div class="mt-5">
    <h4>Friends Request Send</h4>
  </div>
  <ng-container *ngIf="($friendRequestsSend | async) as friendRequestsSend">
    <div>
      <button *ngIf="friendRequestsSend.appData?.length>0" class="btn" (click)="deleteAllFriendRequestSend()">Delete
        All
      </button>
    </div>

    <table class="table ">
      <thead>
      <tr>
        <th class="text-center" scope="col">Fullname</th>
        <th class="text-center" scope="col">Username</th>
        <th class="text-center" scope="col">Sent</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <div *ngIf="friendRequestsSend.dataState==DataState.LOADING">
        <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"
              style="width: 30px;height: 30px"></span>

      </div>
      <tbody>

      <tr *ngFor="let friendRequestsSend of friendRequestsSend?.appData | slice:0:getMaxFriends()">
        <td class="text-center">{{friendRequestsSend?.firstname + ' ' + friendRequestsSend?.lastname}}</td>
        <td class="text-center">{{friendRequestsSend?.username}}</td>
        <td class="text-center">{{friendRequestsSend?.requestTime | date}}</td>
        <td class="text-center">
          <div>
            <i (click)="cancelFriendRequest(friendRequestsSend.username)" class="tim-icons icon-trash-simple"
                    style="color: var(--red-color);font-size: large">
            </i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="w-100  d-flex justify-content-end">
      <app-friends-requests-send-list-pagination #friendsRequestsSend
       [itemsPerPageInput]="getMaxFriends()" ></app-friends-requests-send-list-pagination>
    </div>

  </ng-container>
</div>


<div class="mt-4">


  <app-find-friends-modal></app-find-friends-modal>
</div>
