<app-modal [modalid]="createGameModalId" [title]="createGameModalTitle">
  <form class="d-flex flex-column justify-content-center align-items-center" (ngSubmit)="saveGame(form)" #form=ngForm>

    <div class="d-flex mt-3 flex-column justify-content-start align-items-center w-100">

      <div class="w-100 d-flex justify-content-start">
        <p>Fiends Name</p>
      </div>
      <div
        class="row justify-content-center
             w-100 ">

        <div class="w-100 h-100 p-0  align-items-center d-flex chip-holder ">
          <input #playerNameInput type="text" class="form-control m-0 w-100" name="player_name_input" id="player_name_input">
          <div (click)="addFilterFriends(playerNameInput)" class="col-1 d-flex justify-content-center align-items-center">
            <i class="bi bi-plus" style="color: var(--primary-color);font-size:40px"></i>
          </div>

        </div>
        <div class=" h-100 align-items-center d-flex chip-holder ">

          <div *ngFor="let chip of filterFriends" class="col mx-2 my-2 d-flex justify-content-start align-content-center ">
            <app-chip chipName="{{chip}}" (removeChipEmmiter)="removeFilterFriends($event)"  ></app-chip>
          </div>
        </div>


      </div>
    </div>



    <div class="dropdown w-100 "    >
      <button  type="button" style="border: solid 1px var(--link-inactive)" class="btn  text-start w-100  dropdown-toggle"  data-bs-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
        Account
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" >Action</a></li>
        <div class="d-flex w-100 align-items-center ">
          <div class="circle me-2" >

          </div>
        </div>

      </div>
    </div>

    <div class="d-flex justify-content-center mt-3 align-items-start flex-column  w-100 ">
      <label for="numofplayers">Add Number Of Players</label>
      <input value="1" ngModel class="form-control px-3 py-2 rounded-1 mt-1  p-1" type="number" id="numofplayers" name="numofplayers">
    </div>

    <div class="d-flex mt-5 justify-content-end w-100 align-items-center">
      <button class="btn mx-2 border-0" (click)="cancelGameCreation()" [disabled]="isLoading " type="button">Cancel
      </button>
      <button type="submit" class="btn text-white px-3" style="background: var(--primary-color)">Create</button>
    </div>

  </form>


</app-modal>
