<app-modal [modalId]="createGameModalId" [title]="createGameModalTitle">
  <div *ngIf="!createNewGamesetContent ; else gameset">
    <app-error-baner [text]="errorMessage" [show]="showError" ></app-error-baner>
    <form class="d-flex flex-column justify-content-center align-items-center" (ngSubmit)="saveGame(form)" #form=ngForm>

      <div class="d-flex mt-3 flex-column justify-content-start align-items-center w-100">
        <div class="d-flex flex-column w-100">
          <label >Gameset</label>
          <div class="dropdown w-100 d-flex align-items-center ">


            <button  type="button"  style="border: solid 1px var(--link-inactive);height: 40px" class="btn col-11  text-start  dropdown-toggle"  data-bs-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
              {{selectedGamesetName}}
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
              <li *ngFor="let gameset of gameSets"><a  (click)="setGameset(gameset.gameSetId)" class="dropdown-item" >{{gameset.gameSetName}}</a></li>
              <div class="d-flex w-100  align-items-center ">

              </div>

            </div>
            <div class="div col-1 d-flex justify-content-center align-items-center">
              <i class="bi bi-plus" (click)="createNewGameset()" style="color: var(--primary-color);font-size:40px"></i>

            </div>

          </div>
        </div>

        <div class="w-100 d-flex justify-content-start">
          <p>Fiends Name</p>
        </div>
        <div
          class="row justify-content-center
             w-100 ">

          <div class="w-100 h-100 p-0  align-items-center d-flex chip-holder ">

            <app-autocompleate (filterFriendsEventEmitter)="handleFiendsAdded($event)" class="w-100 mb-3"></app-autocompleate>
<!--            <input required [ngClass]="{'invalid': form.submitted && form.invalid}" #playerNameInput type="text" class="form-control m-0 w-100" name="player_name_input" id="player_name_input">-->
            </div>

          </div>
        </div>


      <div class="d-flex justify-content-center mt-3 align-items-start flex-column  w-100 ">
        <label for="numofplayers">Add Number Of Players</label>
        <input  required [ngClass]="{'invalid': form.submitted && form.invalid}"  value="1" ngModel class="form-control px-3 py-2 rounded-1 mt-1  p-1" type="number" id="numofplayers" name="numofplayers">
      </div>

      <div class="d-flex mt-5 justify-content-end w-100 align-items-center">
        <button class="btn mx-2 border-0" (click)="cancelGameCreation()" [disabled]="isLoadingSaveGame " type="button">Cancel
        </button>

        <button type="submit" class="btn text-white" style="background: var(--primary-color)">
          <ng-container *ngIf="isLoadingSaveGame">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </ng-container>
          <div *ngIf="!isLoadingSaveGame">
            Create
          </div>
        </button>
      </div>
    </form>
  </div>
  <ng-template #gameset >

    <form #formCreateGameset="ngForm" (ngSubmit)="saveGameset(formCreateGameset)">

      <div>
        <label for="gameset_name">Name</label>
        <input required ngModel [ngClass]="{'invalid': formCreateGameset.submitted && formCreateGameset.invalid}" #gamesetName type="text" class="form-control m-0 w-100" name="name" id="gameset_name">

      </div>

      <div class="mt-2">
        <label for="gameset_desc">Description</label>
        <input required  ngModel [ngClass]="{'invalid': formCreateGameset.submitted && formCreateGameset.invalid}" #gamesetDescription type="text" class="form-control m-0 w-100" name="description" id="gameset_desc">

      </div>

      <div class="w-100  mt-4 justify-content-end d-flex">
        <button type="button" class="btn text-dark" (click)="exitGameset()" [disabled]="isGamesetCreating">Cancel</button>

        <button type="submit" class="btn text-white" style="background: var(--primary-color)">
          <ng-container *ngIf="isGamesetCreating">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </ng-container>
          <div *ngIf="!isGamesetCreating">
            Create
          </div>
        </button>

      </div>
    </form>
  </ng-template>


</app-modal>
