<div class="container mt-5">
  <div>
    <app-button-icon icon="fa-solid fa-magnifying-glass" text="Find Friends"></app-button-icon>
  </div>
  <div class="mt-4">
    <h4>My Friends</h4>
  </div>
  <div class="mt-4" >
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Username</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="dropdown-divider"></div>
  <div class="mt-5">
    <h4>Friends Request</h4>
  </div>
  <div class="mt-4" >
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Username</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>  <div>
          <button class="btn text-white" style="background: var(--primary-color)">Accept</button>
          <button class="btn">Decline</button>
        </div></td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>  <div>
          <button class="btn text-white" style="background: var(--primary-color)">Accept</button>
          <button class="btn">Decline</button>
        </div></td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>the Bird</td>
        <td>
          <div>
          <button class="btn text-white" style="background: var(--primary-color)">Accept</button>
          <button class="btn">Decline</button>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
