<div class="container mt-5">
  <div>
    <app-button-icon icon="fa-solid fa-magnifying-glass" text="Find Friends"></app-button-icon>
  </div>
  <div class="mt-4">
    <h4>My Friends</h4>
  </div>
  <div class="mt-4" >
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center" scope="col">Firstname</th>
        <th class="text-center" scope="col">Username</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <td class="text-center">Jacob</td>
        <td class="text-center">Thornton</td>
        <td class="text-center">@fat</td>
      </tr>
      <tr>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="dropdown-divider"></div>
  <div class="mt-5">
    <h4>Friends Request</h4>
  </div>
  <div class="mt-4" >
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center" scope="col">Firstname</th>
        <th class="text-center" scope="col">Username</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">  <div>
          <button class="btn text-white" style="background: var(--primary-color)">Accept</button>
          <button class="btn">Decline</button>
        </div></td>
      </tr>
      <tr>
        <td class="text-center">Jacob</td>
        <td class="text-center">Thornton</td>
        <td class="text-center">  <div>
          <button class="btn text-white" style="background: var(--primary-color)">Accept</button>
          <button class="btn">Decline</button>
        </div></td>
      </tr>
      <tr>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">
          <div>
          <button class="btn text-white" style="background: var(--primary-color)">Accept</button>
          <button class="btn">Decline</button>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
