<div class="content d-flex justify-content-center align-items-center">

 <button type="button"  data-toggle="modal" data-target="#uploadsheetmodal" class="btn btn-primary choice-upload-template d-flex justify-content-center align-items-center flex-column " (mouseenter)="hoverElement='upload-sheet'" (mouseleave)="hoverElement=''">
   <h2>Upload Sheet</h2>
   <div   [ngClass]="{'typing-demo':hoverElement==='upload-sheet','hide-text':hoverElement!='upload-sheet'}">
     <p>You can upload your own image and AI will populate the table.</p>
   </div>
 </button>

  <div class="choice-custom-template d-flex justify-content-center align-items-center flex-column "  routerLink="/dashboard/games/templates" (mouseenter)="hoverElement='custom-upload'" (mouseleave)="hoverElement=''">
    <h2>Crate Custom</h2>
    <div class="" [ngClass]="{'typing-demo':hoverElement==='custom-upload','hide-text':hoverElement!='custom-upload'}">
      <p >You can create your own template,and manually fill the table.</p>
    </div>
  </div>
</div>

<app-upload-sheet></app-upload-sheet>
