<div class="container my-5 d-flex flex-column justify-content-center align-items-center">
 <h2 class="my-5">Reset your password</h2>
  <form class="w-50 " #form="ngForm" ngForm action="#" method="post">
    <div class="form-group first">
      <input type="password"  placeholder="Password" class="form-control" id="password">

    </div>
    <div class="form-group last mb-3">
      <input type="password" placeholder="Confirm Password" class="form-control " id="confirm-password">

    </div>
    <div class="d-flex justify-content-center flex-column">
      <button class="btn  restart-button text-white">Restart </button>
      <button class="btn  btn-outline-dark">Cancel </button>
    </div>





  </form>

</div>
