



<div class="modal fade" id="uploadsheetmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="uploadsheetmodal-title">Upload Sheet </h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <app-error-baner [show]="showError" [text]="errorMessage"></app-error-baner>
        <form class="mt-2 d-flex flex-column justify-content-around" (ngSubmit)="uploadSheet(form)" #form="ngForm" enctype="multipart/form-data">


          <div (click)="openFile(fileInput)"  class="file-input d-flex flex-column justify-content-center align-items-center" [ngClass]="{'shrink':isFileSelected}">
            <i class="bi bi-box-arrow-in-down " style="font-size: 50px;color: var(--black)"></i>
            <input ngModel name="image_sheet"  id="upload_image_background" #fileInput  (change)="change($event)"  class="position-absolute z-1  bg-info invisible" type="file" multiple accept="image/jpeg, image/png" />

          </div>
          <div *ngIf="showProgress"  class="d-flex w-100">

            <div class="custom-outter-progress-bar w-100  border-dark rounded-3 "  >
              <div class="custom-inner-progress-bar  border-dark rounded-3 "  style="--progress:{{ progressPercentString }}" ></div>
            </div>
            <div class="px-1">
              <i class="bi bi-trash-fill"  style="font-size: 20px;color: var(--text-dark) !important;cursor: pointer" (click)="deleteSelectedImage(form)" [ngStyle]="{'color':progress!=100? 'rgba(0, 0, 0, 0.2)' : 'black'}"></i>
            </div>
          </div>



          <div class="w-100  d-flex justify-content-between">
            <div *ngIf="progress==100">{{this.sheetToUpload.name}}</div>
            <div *ngIf="showProgress" class="d-flex w-100 justify-content-end">
              <p>{{this.progress}}%</p>
            </div>

          </div>

          <div  class="w-100 d-flex justify-content-center align-items-center" *ngIf="!this.isLoadingImage && this.sheetToUpload">
            <img [src]="this.imageUrl" class="w-25" >

          </div>

        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end mt-3">


          <button class="btn mx-2 border-0"(click)="closeModal(form)" [disabled]="isLoading || isLoadingImage" type="button" data-dismiss="modal" >Cancel</button>
          <button class="btn text-white px-3" [ngClass]="{'disable':isLoading || isLoadingImage}"   type="submit" style="background: var(--primary-color)">
            <ng-container *ngIf="(isLoading || isLoadingImage) ;else textContainerBtn">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </ng-container>
            <ng-template #textContainerBtn>
              Upload
            </ng-template>
          </button>

      </div>
    </div>
  </div>
</div>
