<div class="content ">



<div class="row col-12 py-3">
  <div class="col-lg-4 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
              <i class="tim-icons icon-chat-33"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Number</p>
              <h3 class="card-title">150GB</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="tim-icons icon-refresh-01"></i> Update Now
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
              <i class="tim-icons icon-chat-33"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Number</p>
              <h3 class="card-title">150GB</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="tim-icons icon-refresh-01"></i> Update Now
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
              <i class="tim-icons icon-chat-33"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Number</p>
              <h3 class="card-title">150GB</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="tim-icons icon-refresh-01"></i> Update Now
        </div>
      </div>
    </div>
  </div>

</div>
  <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadsheetmodal">
    <i class="tim-icons icon-cloud-download-93"></i>
    Upload Sheet</button>

  <div class="card card-stats" style="margin-top: 0.5rem">
    <div class="card-body">
      <h3>Recent Games</h3>
        <div class="row" style="padding-left: 20px">
          <div *ngIf="(recentGames$ | async) as recentGames" class="flex-container "  >
            <div class="card mx-2  d-flex flex-item  "  *ngFor="let recentGame of recentGames?.appData" >
              <div class="card-body position-relative">
                <h4 class="card-title">Game {{recentGame?.gameId}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{recentGame?.datePlayed |date}}</h6>
                <div class="position-relative  w-100 p-3">
                  <div class="position-relative  w-100">
                    <app-custom-image *ngFor="let player of recentGame?.players?.slice(0,3);let i=index" [font-size]="'15px'" [left]="(i*17).toString()" username="{{player.username | uppercase}}"></app-custom-image>
                    <div class="text-white d-flex justify-content-center align-items-center   position-absolute " style="">
                      <app-custom-image class="text-dark"  *ngIf="recentGame?.players?.length>3" [font-size]="'15px'"  [left]="'54'" [username]="(recentGame.players.length-3).toString()"></app-custom-image>                    </div>
                  </div>
                </div>
              </div>
              <div class=" flex-column d-flex justify-content-center align-items-center" style="margin-right: 1rem" *ngIf="recentGame.winner">
                  <img src="../../../../assets/images/trophy.png" width="40px">
                  <p class="text-white text-center  " style="font-size: 1.2rem;">{{recentGame?.winner?.username}}</p>

              </div>
            </div>
            <div class="card mx-2 d-flex flex-item "  style="background: var(--secondary-color) !important;"   >
              <div class="card-body d-flex justify-content-center align-items-center  " style="padding: 0px !important;">
                <i class="p-0 tim-icons icon-simple-add text-white " style="font-size: x-large;margin-right: 0.6rem"></i>

                <h2 class=" p-0 m-0">See All</h2>
              </div>
            </div>



          </div>
        </div>
      </div>
      <div class="card-footer">


      </div>
    </div>

  <button class="btn btn-primary ">
  <i class="tim-icons icon-pencil"></i>
  Calculate Sheet</button>

  <div class="card card-stats" style="margin-top: 0.5rem">
    <div class="card-body">
      <h3>Recent Calculations</h3>
      <div class="row">

      </div>
    </div>
    <div class="card-footer">


    </div>
  </div>
</div>
<app-upload-sheet></app-upload-sheet>







