<div class="content ">



<div class="row col-12 py-3">
  <div class="col-lg-4 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
              <i class="tim-icons icon-chat-33"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Number</p>
              <h3 class="card-title">150GB</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="tim-icons icon-refresh-01"></i> Update Now
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
              <i class="tim-icons icon-chat-33"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Number</p>
              <h3 class="card-title">150GB</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="tim-icons icon-refresh-01"></i> Update Now
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
              <i class="tim-icons icon-chat-33"></i>
            </div>
          </div>
          <div class="col-7">
            <div class="numbers">
              <p class="card-category">Number</p>
              <h3 class="card-title">150GB</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="tim-icons icon-refresh-01"></i> Update Now
        </div>
      </div>
    </div>
  </div>

</div>
  <div class="card card-stats">
    <div class="card-body">

        <div class="row">
          <div class="col-5">
            <div class="info-icon text-center icon-warning">
            </div>
          </div>
          <div class="col-7">

          </div>
        </div>
      </div>
      <div class="card-footer">


      </div>
    </div>






</div>











































<!--<div class="py-4  mt-5 w-100 container flex-column d-flex justify-content-center align-items-center">-->
<!--  <div class="w-100">-->
<!--    <app-button-icon (click)="openUploadSheet()" icon="bi bi-box-arrow-in-down"  text="Upload Sheet">-->
<!--    </app-button-icon>-->
<!--  </div>-->


<!--  <app-home-statistics></app-home-statistics>-->


<!--  <app-upload-sheet #modal></app-upload-sheet>-->
<!--</div>-->



<!-- Background image -->
<!--<div id="intro-example" class=" w-100 vh-100 text-center bg-image"-->
<!--     style="background-image: url('assets/images/hero-img.jpg');background-size: cover;background-position: center">-->

<!--  <div class="mask w-100 h-100" style="background-color: rgba(0, 0, 0, 0.7);">-->
<!--    <div class="d-flex justify-content-center align-items-center h-100">-->
<!--      <div class="text-white">-->
<!--        <h1 class="mb-3">Roll with Friends!</h1>-->
<!--        <h5 class="mb-4">-->
<!--          Gather your crew for a dice-tastic adventure!-->
<!--        </h5>-->
<!--        <a class="btn primary-outline btn-lg m-2" (click)="startNow()"-->
<!--           role="button" rel="nofollow" target="_blank">Start Now</a>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--  <section class="w-100 vh-100 p-5 d-flex align-items-center justify-content-center" style="background: whitesmoke">-->
<!--        <div class="d-flex justify-content-center align-items-center ">-->
<!--          <div class="col-6">-->
<!--            <div>-->
<!--              <h1 class="display-4 fw-bold mb-3 text-start">Create Custom Games and Play<br> <u class=""><span class="" style="color:var(&#45;&#45;primary-color)">Together with Friends!</span></u></h1>-->
<!--              <p class="lead mb-4  d-flex justify-content-start w-75 text-start">Unleash your creativity and gaming spirit!-->
<!--                With our custom game feature, you're in control.-->
<!--                Create unique gaming experiences tailored to your preferences and invite your friends to join the fun.-->
<!--           </p>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-6">-->
<!--              <div class="d-none d-md-block">-->
<!--                <img src="assets/images/firnds_playing.jpg" class="w-100" alt="graphics-2">-->
<!--              </div>-->
<!--          </div>-->
<!--        </div>-->


<!--  </section>-->


<!--  <section class="page-section p-4" id="about">-->
<!--    <div class="container">-->
<!--      <div class="text-center">-->
<!--        <h2 class="section-heading text-uppercase">Game Flow</h2>-->
<!--        <h3 class="section-subheading text-muted">Create game in few steps.</h3>-->
<!--      </div>-->
<!--      <ul class="timeline">-->
<!--        <li>-->
<!--          <div class="timeline-image d-flex justify-content-center align-items-center"><img width="70%" class=" p-3 img-fluid" src="assets/images/home/yamb_sheet.png"  alt="..." /></div>-->
<!--          <div class="timeline-panel">-->
<!--            <div class="timeline-heading">-->
<!--              <h4 class="subheading">Upload Sheet</h4>-->
<!--            </div>-->
<!--            <div class="timeline-body"><p class="text-muted">Upload sheet that you played with your friends,and wait for our system to scan it.</p></div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="timeline-inverted">-->
<!--          <div class="timeline-image d-flex justify-content-center align-items-center"><img  class=" img-fluid" src="assets/images/home/update_game.png" width="50%"  alt="..." /></div>-->
<!--          <div class="timeline-panel">-->
<!--            <div class="timeline-heading">-->
<!--              <h4 class="subheading">Correct Sheet</h4>-->
<!--            </div>-->
<!--            <div class="timeline-body"><p class="text-muted"></p></div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="timeline-image d-flex justify-content-center align-items-center"><img class=" img-fluid" src="assets/images/home/create_game.png" width="50%"  alt="..." /></div>-->
<!--          <div class="timeline-panel">-->
<!--            <div class="timeline-heading">-->
<!--              <h4 class="subheading">Create Game</h4>-->
<!--            </div>-->
<!--            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="timeline-inverted">-->
<!--          <div class="timeline-image d-flex justify-content-center align-items-center"><img class=" img-fluid" src="assets/images/home/add_friends.png"  width="50%" alt="..." /></div>-->
<!--          <div class="timeline-panel">-->
<!--            <div class="timeline-heading">-->
<!--              <h4 class="subheading">Add Friends</h4>-->
<!--            </div>-->
<!--            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="timeline-inverted">-->
<!--          <div class="timeline-image">-->
<!--            <h4>-->
<!--             Start-->
<!--              <br />-->
<!--             Playing-->
<!--              <br />-->
<!--              Now!-->
<!--            </h4>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </section>-->

<!-- Background image -->

