<div class="content ">

<div class="w-100">
<div *ngIf="(gamesets$ | async) as gamesets">

  <button class="btn btn-primary" data-toggle="modal" data-target="#createGameset" style="">Create</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Action</th>
    </tr>
    </thead>
    <div *ngIf="gamesets.dataState==DataState.LOADING">
      <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"
            style="width: 30px;height: 30px"></span>
    </div>
    <tbody>
    <tr *ngFor="let gameset of gamesets?.appData?.gameSetResponse | slice:0:getItemsPerPage()">
      <td class="text-center">{{gameset.gameSetName }}</td>
      <td class="text-center " >
        <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm" (click)="viewDetails(gameset.gameSetId)">
          <i class="tim-icons icon-settings"></i>
        </button>
        <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm" (click)="deleteGameset(gameset.gameSetId,gameset.gameSetName)">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>


<app-gameset-pagination  [totalPages]="gamesets?.appData?.totalElements" [itemsPerPage]="itemsPerPage"></app-gameset-pagination>
</div>
</div>
</div>
<!--<app-loading-modal #modal ></app-loading-modal>-->
<app-create-gameset-modal #createGamesetModal></app-create-gameset-modal>


