<div class="content my-5 d-flex flex-column justify-content-center align-items-center">
 <h3 class="my-5">Restart your password</h3>
  <form class="w-25 " #form="ngForm" (ngSubmit)="sendRequestForPasswordReset(form)" ngForm  method="post">
    <div class="form-group first">
      <input  [ngClass]="{'invalid-input': showErrorMessage}" required email type="text" ngModel   placeholder="Email" class="form-control py-2" id="email" name="email">
    </div>

      <div class="d-flex mt-3 justify-content-center flex-column">
        <button type="submit" class="btn  restart-button text-white">
          <ng-container *ngIf="(isLoading) ;else textContainerBtn">
            <div class="d-flex justify-content-center align-items-center">
              <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
              <p>Loading</p>
            </div>

          </ng-container>
          <ng-template #textContainerBtn>
            Restart
          </ng-template>
        </button>
      </div>

  </form>
</div>
