


<div class="modal fade" id="findFriendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Find Friends</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center flex-column w-100 align-items-end">
          <div class="container mt-4 w-100 ">
            <input type="text" appStopTyping (stopTyping)="onStopTyping($event)"  #input id="searchInput" class="form-control w-100 text-dark" placeholder="Type to see suggestions">
            <div class="w-100 friends-list" *ngIf="isLoadgin">
              <span class="spinner-border  m-2 spinner-border-sm" role="status" aria-hidden="true" style="width: 30px;height: 30px"></span>
            </div>
            <ng-container  *ngIf="!isLoadgin">
              <div class="d-flex friends-list justify-content-center align-items-start flex-column w-100" *ngFor="let friend of foundFriends">
                <div class="p-2 d-flex w-100  justify-content-center align-items-center">
                  <p class="flex-grow-1">{{friend.username}}</p>
                  <button (click)="addFriend(friend.username)" class="btn col flex-grow-0">Add</button>
                </div>
              </div>
            </ng-container>

          </div>


        </div>
      </div>


      <div class="modal-footer d-flex justify-content-end px-3 w-100">

          <button (click)="closeModal()" data-dismiss="modal"  class="btn px-3 mt-5" style="border: solid 1px var(--primary-color)">Back</button>

      </div>
    </div>
  </div>

</div>
