
<div class="d-flex align-items-center my-2  " >

  <div class="d-flex align-items-center w-100 p-1" style="border: solid 1px white;border-radius: 40px">
    <div class="col-9 d-flex align-items-center">
      <div  class="image-container  " >
        <div class="w-100 h-100 d-flex justify-content-center align-items-center" [style.background-color]="randomColor">
          <p class="text-image">{{player.username.charAt(0).toUpperCase()}}</p>
        </div>

      </div>
      <p class="mx-3">{{player.username}}</p>
    </div>

    <div class="col-3  align-items-center  d-flex justify-content-center ">
      <div>
        <p style="cursor: pointer" >View Sheet</p>
      </div>
      <p class=" p-1 ">{{player.score}}</p>
    </div>
  </div>

</div>
