<div class="p-3 d-flex justify-content-end align-items-center">
  <p class="mx-3 nav-item-p" [ngClass]="{'active':activeRoute==='home'}" (click)="changeActiveNav('home')" routerLink="/home">Home</p>
  <p class="mx-3 nav-item-p" [ngClass]="{'active':activeRoute==='login'}" (click)="changeActiveNav('login')" routerLink="/login">Login</p>
  <p class="mx-3 nav-item-p" [ngClass]="{'active':activeRoute==='register'}" (click)="changeActiveNav('register')" routerLink="/register">Register</p>
  <div class="dropdown">
    <p  class="nav-item-p mx-3  dropdown-toggle" [ngClass]="{'active':activeRoute==='account'}"  data-bs-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
      Account
    </p>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"  (click)="changeActiveNav('account')" routerLink="/account/friends">Friends</a>
      <a class="dropdown-item"   (click)="changeActiveNav('account')" routerLink="/account/settings">Settings</a>
      <a class="dropdown-item" routerLink="/logout">Logout</a>
    </div>
  </div>
  <p class="mx-4 nav-item-p"></p>
</div>
