#neubar {
  background: var(--background-contrast);
  box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}

.nav-item .active {
  border-radius: 6px;
  background: var(--primarty-variant) ;
  box-shadow:  4px 4px 8px var(--primarty-variant),
  -4px -4px 8px  var(--primarty-variant);
  color: var(--black) !important;
}
#neubar .dropdown-menu a:hover {
  color: var(--background-contrast);
}

#neubar a {
  color: whitesmoke;

  padding-left:12px;
  padding-right:12px;
}
#neubar .dropdown-menu {
  background : var(--background-contrast);
}
a.navbar-brand {
  color: #226981;
}

.cont{
  display: flex;
}
.section1{
  flex:2
}
.section2{
  flex: 1;
  margin: 0px;
  padding: 0px;
}






