
:root
{
  --primary-color: #33AAD1;
  --on-primary-color: white;
  --primary-color-inactive: rgb(41,151,231,0.5);
  --background-contrast: #3E4145;
  --link-inactive: rgb(0,0,0,0.2);
  --text-dark: #3E4145;
  --text-light: #FFFFFF;
  --primary-color-darker: #0E3551;
  --primary-color-darker-variant: #13486e;
  --primarty-variant:#BDDFF8;
  --secondary-color:#812AD8;
  --white-color:#FFFFFF;
  --accent-color:#9329E7;
  --gray-color:#F0F3F6;
  --red-color:#E23604;
  --red-color-transparent:rgb(253,96,96,0.7);;
  --green-color:#20CC03;
  --yellow-color:#DDC704;
  --black: #1E1E1EFF
}
