
:root
{
  --primary-color: #27374D;
  --primarty-variant:#384F6F;
  --secondary-color:#27374D;
  --white-color:#FFFFFF;
  --accent-color:#7952B3;
  --gray-color:#B0B0B0;
  --red-color:#F86666;
  --green-color:#6DFF73;
  --yellow-color:#FDD400;
}
