
<div class="py-4  mt-5 w-100 container flex-column d-flex justify-content-center align-items-center">
  <div class="w-100">
    <app-button-icon  icon="fa-solid fa-arrow-up-from-bracket"  (click)="openModal()" text="Upload Sheet">
    </app-button-icon>
  </div>


  <app-home-statistics></app-home-statistics>


  <div class="d-flex  w-100 justify-content-around">
   <div class="col-4">
     <h5 class="">History</h5>
   </div>
    <div class="d-flex col-6  justify-content-end">
      <p class="mx-4"  style="cursor: pointer" (click)="openFilter()">Filter</p>

      <p  class=" mx-3  dropdown-toggle"  data-bs-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
        Sort
      </p>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="setSort('date',SortDirection.asc)">Date asc</a>
        <a class="dropdown-item" (click)="setSort('date',SortDirection.desc)">Date desc</a>
      </div>
    </div>
    <div class="d-flex col-1   justify-content-end">

    </div>
  </div>


  <app-game-list>

  </app-game-list>


  <app-upload-sheet></app-upload-sheet>
  <app-filter-modal (filterRequestEmmiter)="filterSubmit($event)"></app-filter-modal>
</div>
