
<div class="py-4  mt-5 w-100 container flex-column d-flex justify-content-center align-items-center">
  <div class="w-100">
    <app-button-icon  icon="fa-solid fa-arrow-up-from-bracket" text="Upload Sheet">
    </app-button-icon>
  </div>
  <div class=" py-4 d-flex">

    <app-statistic-card  class="mx-4" title="Total Games" value="125" percent="50%" image="assets/images/dice.png">
    </app-statistic-card>
    <app-statistic-card class="mx-4" title="Games Won" value="26" percent="20%" image="assets/images/rook.png">
    </app-statistic-card>
    <app-statistic-card class="mx-4" title="Games Lost" value="41" percent="30%" image="assets/images/broken-queen.png">
    </app-statistic-card>
  </div>

  <div class="d-flex w-100 justify-content-start">
    <h5>History</h5>
  </div>


  <app-game-list>

  </app-game-list>
</div>

