<div class="d-flex text-center mt-4  align-items-center flex-column" style="border: solid 1px var(--white-color);border-radius: 10px;width: 200px;height: 200px">
  <div class="d-flex justify-content-end   w-100 px-3 pt-3">
    <i class="tim-icons icon-simple-add" style="font-size: x-large;color: var(--white-color)"></i>
  </div>
  <div class="d-flex   justify-content-center flex-column h-100">
    <img src="favicon.ico" class="rounded-circle" width="80">
    <p class="mt-2" style="font-size: large">Name</p>
  </div>

</div>
