<div class="container mt-5">
  <div>
    <app-button-icon icon="bi bi-search" data-bs-toggle="modal" data-bs-target="#findFriendsModal"  text="Find New Friends"></app-button-icon>
  </div>
  <div class="mt-4">
    <h4>My Friends</h4>
  </div>
  <div class="mt-4" >
    <ng-container *ngIf="$friends | async as friends">


      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-center" scope="col">Fullname</th>
          <th class="text-center" scope="col">Username</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
        </thead>
        <div *ngIf="friends.dataState==DataState.LOADING">
          <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 30px;height: 30px"></span>

        </div>
        <tbody>
        <tr *ngFor="let friend of friends?.appData | slice:0:getMaxFriends()">
          <td class="text-center">{{friend.firstname+' ' +friend.lastname}}</td>
          <td class="text-center">{{friend.username}}</td>
          <td class="text-center" style="color:var(--red-color);cursor: pointer" (click)="unfriend(friend.username)">Unfriend</td>
        </tr>
        </tbody>
      </table>
      <div class="w-100  d-flex justify-content-end">
        <app-friends-list-pagination [totalPages]="this.customRound(this.totalElementsFriends/getMaxFriends())"></app-friends-list-pagination>
      </div>

    </ng-container>
  </div>

  <div class="dropdown-divider"></div>
  <div class="mt-5">
    <h4>Friends Request</h4>
  </div>

  <ng-container *ngIf="$friendsRequests | async as friendsRequests">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center" scope="col">Fullname</th>
        <th class="text-center" scope="col">Username</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <div *ngIf="friendsRequests.dataState==DataState.LOADING">
        <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 30px;height: 30px"></span>

      </div>
      <tbody>

      <tr *ngFor="let friendRequest of friendsRequests?.appData | slice:0:getMaxFriends()">
        <td class="text-center">{{friendRequest?.firstname+ ' ' + friendRequest?.lastname}}</td>
        <td class="text-center">{{friendRequest?.username}}</td>
        <td class="text-center">
          <div>
            <button (click)="acceptFriendRequest(friendRequest.username)" class="btn text-white" style="background: var(--primary-color)">Accept</button>
            <button (click)="declineFriendRequest(friendRequest.username)" class="btn">Decline</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="w-100  d-flex justify-content-end">
      <app-friends-requests-list-pagination [totalPages]="this.customRound(this.totalElementsFriendsRequests/getMaxFriends())"></app-friends-requests-list-pagination>
    </div>

  </ng-container>


  <div class="dropdown-divider"></div>
  <div class="mt-5">
    <h4>Friends Request Send</h4>
  </div>
  <ng-container *ngIf="$friendRequestsSend | async as friendRequestsSend">
    <div><button *ngIf="friendRequestsSend.appData.length>0" class="btn" (click)="deleteAllFriendRequestSend()">Delete All</button></div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center" scope="col">Fullname</th>
        <th class="text-center" scope="col">Username</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <div *ngIf="friendRequestsSend.dataState==DataState.LOADING">
        <span class="m-3 spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 30px;height: 30px"></span>

      </div>
      <tbody>

      <tr *ngFor="let friendRequestsSend of friendRequestsSend?.appData | slice:0:getMaxFriends()">
        <td class="text-center">{{friendRequestsSend?.firstname+ ' ' + friendRequestsSend?.lastname}}</td>
        <td class="text-center">{{friendRequestsSend?.username}}</td>
        <td class="text-center">
          <div>
            <button (click)="cancelFriendRequest(friendRequestsSend.username)" class="btn text-white" style="background: var(--primary-color)">Cancel</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="w-100  d-flex justify-content-end">
      <app-friends-requests-list-pagination [totalPages]="this.customRound(this.totalElementsFriendsRequests/getMaxFriends())"></app-friends-requests-list-pagination>
    </div>

  </ng-container>
</div>


<div class="mt-4" >


  <app-find-friends-modal></app-find-friends-modal>
</div>
