


<div class="d-lg-flex half h-100 justify-content-center">
  <div class="contents order-2   justify-content-center order-md-1">

    <div class="h-100 w-100">
      <div class="row  d-flex flex-column h-100 w-100 align-items-center justify-content-center">
        <div class="col-md-7 p-4" style="border-radius: 1rem;  box-shadow: 0 5px 3px 0 rgba(0,0,0,.1), 0 3px 4px 0 rgba(0,0,0,.06);">
          <div class="mb-4">
            <h3 class="header-login">Sign Up</h3>
            <app-error-baner [show]="showErrorMessage" [text]="errorMessage"></app-error-baner>
          </div>
          <form  (ngSubmit)="register(form)"  #form="ngForm" ngForm action="#" method="post">
            <div class="d-flex">
              <div class="form-group first col-6 " [ngClass]="{'invalid-input': showErrorMessage}">
                <input required type="text" ngModel name="first_name"  placeholder="First Name" class="form-control" id="first-name">
              </div>
              <div class="form-group first col-6 " [ngClass]="{'invalid-input': showErrorMessage}">
                <input required type="text"  ngModel name="last_name" placeholder="Last Name"  class="form-control" id="last-name">
              </div>
            </div>

            <div class="form-group"  [ngClass]="{'invalid-input': showErrorMessage}">
              <input  required type="text" ngModel name="username"  placeholder="Username" class="form-control" id="username">
            </div>
            <div class="form-group"  [ngClass]="{'invalid-input': showErrorMessage}">
              <input required email type="email" ngModel name="email" placeholder="Email" class="form-control" id="email">
            </div>
            <div class="form-group"  [ngClass]="{'invalid-input': showErrorMessage}">
              <input required minlength="5" type="password" ngModel name="password" placeholder="Password" class="form-control" id="password">
            </div>
            <div class="form-group last mb-3"  [ngClass]="{'invalid-input': showErrorMessage}">
              <input required minlength="5" type="password" ngModel name="confirm_password" placeholder="Confirm Password" class="form-control" id="confirmpassword">
            </div>

            <button [ngClass]="{'disabled': form.invalid && showErrorMessage}"  type="submit" value="Sign Up" class="btn  w-100 btn-block login-btn" >

                <ng-container *ngIf="(appState.dataState === DataState.LOADING) ;else textContainerBtn">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </ng-container>
                <ng-template #textContainerBtn>
                  Sign Up
                </ng-template>


            </button>
            <div class="d-flex justify-content-center mt-3">
              <p style="font-size: 16px">Already have an account? <a> <span class="register-text" routerLink="/login" style="cursor:pointer;"> Login now!</span></a></p>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

</div>
<app-registration-modal #registrationModal></app-registration-modal>
