.restart-button{
  background: var(--primary-color);
}
.cancel-button:hover{
  background: var(--white-color);
  color: var(--bs-black);
}

.form-control:focus {
  border-color: #ced4da; /* Change the border color to the default */
  box-shadow: none; /* Remove the box shadow */
}

.invalid-input {
  border: solid 1px var(--red-color) !important;
}
