<div class="content d-flex flex-column">
  <div>
    <p style="font-size: xx-large">Add Friends</p>
    <p style="opacity: 50%" class="text-white">Add friend to play together as a team</p>
  </div>
  <div class="  p-4">

    <div class="d-flex justify-content-between w-100  align-items-center">

<!--        <app-friends-list-pagination #friends [itemsPerPageInput]="getMaxFriends()"></app-friends-list-pagination>-->

      <div class="d-flex  w-100 justify-content-end align-items-center  ">
        <div class="form-group mx-2 p-0 m-0">
          <input  [(ngModel)]="searchText" type="text" class="form-control" id="exampleInputEmail1" placeholder="Search...">
        </div>
        <button (click)="searchFriends()" class="btn btn-secondary" style="height: min-content" >
          <i class="tim-icons icon-zoom-split"></i>
        </button>
      </div>

    </div>
  </div>
  <p style="font-size: x-large">Friends</p>

  <app-add-friends-list [selectedFriends]="selectedFriends" #friendsList (friendSelectedEmitter)="handleFriendSelected($event)"></app-add-friends-list>

  <div class=" mb-4">
    <p style="font-size: x-large">Added Friends</p>
    <hr>
    <div class="d-flex px-4  justify-content-start" style="gap:30px;transition: 300ms ease">
      <app-friend-add-card icon="icon-simple-delete" (selectedCop)="handleDiselectFriend($event)"
                           [friend]="selectedFriend"
                           *ngFor="let selectedFriend of selectedFriends">{{selectedFriend}}</app-friend-add-card>
    </div>
  </div>
  <div class="d-flex justify-content-between" style="gap:30px">
    <button class="btn" (click)="back()">Back</button>
    <div class="d-flex align-items-center">
      <p class="mx-4 px-4" style="cursor:pointer;" (click)="skip()">Skip</p>
      <button class="btn btn-primary" (click)="next()">Next</button>
    </div>
  </div>
</div>
